
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.header-container{
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

.header-container::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  background: #fff;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  z-index: 0;
}

.head-line{
  position: absolute;
  color: white;
  font-family:  'Bangers', cursive;
  font-weight: 100;
  font-size: 6rem;
  width: 100%;
  bottom: 30rem;
  text-align: center;
  /*below is style that will be modified by the GSAP library*/
  opacity: 0;
  transform: translateY(20);
}

.sub-line{
  position: absolute;
  color: white;
  font-size: 1.2rem;
  width: 100%;
  font-weight: 200;
  bottom: 30rem;
  text-align: center;
  /*below is style that will be modified by the GSAP library*/
  opacity:0;
  transform: translateY(20);
}


.video{
  width: 100%;
  height: 100vh;
  max-height: 60rem;
  object-fit: cover;
  position: fixed;
  top:0;
  z-index: -999;

}

.video-container::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #8614ce, #ff0057);
  opacity: 0.4;
  z-index: -1;
}

.link-box{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 27rem;
  left: 50%;
  transform: translateX(-50%)
}

.social-media{
  width: 2rem;
  margin:0 1rem; 
  /*below is style that will be modified by the GSAP library*/
  opacity: 0;
  transform: translateY(20);
}

.social-media:hover{
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.2);
  border-radius: 0.2rem;
  border-width: 4px;
}

.get-started-button{
  position: absolute;
  bottom: 20rem;
  background-color:transparent;
  width: 14rem;
  height: 4rem;
  left:50%;
  transform: translateX(-50%) translateY(50%);
  border-radius: 0.4rem;
  border-color: white;
  border-style: solid;
  color: white;
  border-width: 1;
  font-size: 1.2rem;
  cursor: pointer;
  outline:none;
  opacity: 0;
}

.get-started-button:hover{
  background-color: rgba(255,255,255,0.2);
}
